@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.fl` class to the markup.
 */
.cf {
  overflow: hidden;
  *zoom: 1;
}

.cb {
  clear: both;
}

.fl {
  display: inline;
  float: left;
}

.fr {
  display: inline;
  float: right;
}

.fn {
  float: none;
}

.tal {
  text-align: left;
}

.tac, .text-center {
  text-align: center;
}

.tar, .proceed {
  text-align: right;
}

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative {
  cursor: help;
}

.row, .lastColumn {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}

.row {
  margin: 0 auto;
}

.column,
.columns {
  float: left;
  position: relative;
}

.column-inner,
.columns-inner {
  margin: 0 10px;
}
.collapse .column-inner, .collapse
.columns-inner {
  margin: 0;
}

.lastColumn {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

@media (min-width: 960px) {
  .row {
    width: 960px;
  }

  .one {
    width: 8.33333%;
  }

  .two {
    width: 16.66667%;
  }

  .three {
    width: 25%;
  }

  .four {
    width: 33.33333%;
  }

  .five {
    width: 41.66667%;
  }

  .six {
    width: 50%;
  }

  .seven {
    width: 58.33333%;
  }

  .eight {
    width: 66.66667%;
  }

  .nine {
    width: 75%;
  }

  .ten {
    width: 83.33333%;
  }

  .eleven {
    width: 91.66667%;
  }

  .twelve {
    width: 100%;
  }

  .push-one {
    left: 8.33333%;
  }

  .pull-one {
    right: 8.33333%;
  }

  .push-two {
    left: 16.66667%;
  }

  .pull-two {
    right: 16.66667%;
  }

  .push-three {
    left: 25%;
  }

  .pull-three {
    right: 25%;
  }

  .push-four {
    left: 33.33333%;
  }

  .pull-four {
    right: 33.33333%;
  }

  .push-five {
    left: 41.66667%;
  }

  .pull-five {
    right: 41.66667%;
  }

  .push-six {
    left: 50%;
  }

  .pull-six {
    right: 50%;
  }

  .push-seven {
    left: 58.33333%;
  }

  .pull-seven {
    right: 58.33333%;
  }

  .push-eight {
    left: 66.66667%;
  }

  .pull-eight {
    right: 66.66667%;
  }

  .push-nine {
    left: 75%;
  }

  .pull-nine {
    right: 75%;
  }

  .push-ten {
    left: 83.33333%;
  }

  .pull-ten {
    right: 83.33333%;
  }

  .push-eleven {
    left: 91.66667%;
  }

  .pull-eleven {
    right: 91.66667%;
  }
}
@media (max-width: 960px) {
  .mobile-one {
    width: 16.66667% !important;
  }

  .mobile-two {
    width: 33.33333% !important;
  }

  .mobile-three {
    width: 50% !important;
  }

  .mobile-four {
    width: 66.66667% !important;
  }

  .mobile-five {
    width: 83.33333% !important;
  }

  .mobile-six {
    width: 100% !important;
  }

  .mobile-push-one {
    left: 16.66667%;
  }

  .mobule-pull-one {
    right: 16.66667%;
  }

  .mobile-push-two {
    left: 33.33333%;
  }

  .mobule-pull-two {
    right: 33.33333%;
  }

  .mobile-push-three {
    left: 50%;
  }

  .mobule-pull-three {
    right: 50%;
  }

  .mobile-push-four {
    left: 66.66667%;
  }

  .mobule-pull-four {
    right: 66.66667%;
  }

  .mobile-push-five {
    left: 83.33333%;
  }

  .mobule-pull-five {
    right: 83.33333%;
  }
}
/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/**
 * `.stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
  <ul class="nav stacked">
    <li><a href=#>Home</a></li>
    <li><a href=#>About</a></li>
    <li><a href=#>Portfolio</a></li>
    <li><a href=#>Contact</a></li>
  </ul>
 *
 */
.primary-header-menu {
  list-style: none;
  margin-left: 0;
  overflow: hidden;
  *zoom: 1;
}

.primary-header-menu-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  display: list-item;
}

.primary-header-menu-link {
  display: block;
}

/**
 * `.banner-nav` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav banner-nav">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.l-wrapper {
  margin: 0 auto;
  overflow: hidden;
}

/*------------------------------------*\
    $ICON
\*------------------------------------*/
/**
 * Icon module for icons and sprites.
 * e.g.:
 *
   <i class="small black arrow icon"></i>
 *
 */
.icon {
  background: transparent url('../img/../img/sprite/icon-see571118c8.png') no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.icon.has-image-replacement {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.icon.huge.orange.logo {
  background-position: 0 0;
  width: 183px;
  height: 100px;
}
.icon.large.orange.logo {
  background-position: 0 -100px;
  width: 119px;
  height: 64px;
}
.icon.medium.black.arrow {
  background-position: 0 -292px;
  width: 11px;
  height: 7px;
}
.icon.medium.blue.twitter {
  background-position: 0 -196px;
  width: 32px;
  height: 32px;
}
.icon.medium.blue.facebook {
  background-position: 0 -228px;
  width: 32px;
  height: 32px;
}
.icon.medium.gray.flickr {
  background-position: 0 -260px;
  width: 32px;
  height: 32px;
}
.icon.medium.orange.rss {
  background-position: 0 -164px;
  width: 32px;
  height: 32px;
}
.icon.small.black.arrow {
  background-position: 0 -299px;
  width: 9px;
  height: 5px;
}

/*------------------------------------*\
    $Hero
\*------------------------------------*/
  /**
   * Hero module for huge images on landing pages.
   * e.g.:
   *

    <div class="hero">
      <img src="img/gallery/1.jpg" alt="Hero Image">
      <div class="hero-caption">
        <span>Here's some nice work</span>
        <a href="#" class="hero-caption-link">View Portfolio</a>
      </div>
    </div>

   *
   */
.hero {
  position: relative;
}
.hero img {
  vertical-align: bottom;
  /* fix for random padding on images */
}

.hero-caption {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-caption {
  font-size: 15px;
}

.feature-header, .portfolio-header {
  font-size: 18px;
}

html, body, input, select, textarea {
  font: normal 12px/1.5em Arial, sans-serif;
}

img, object, embed {
  max-width: 100%;
  height: auto;
  *width: 100%;
}

object, embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

a {
  text-decoration: none;
}

.primary-hr {
  margin: 20px 0;
}

.hero {
  position: relative;
}

.hero-caption {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.primary-header-logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.primary-header-email {
  text-align: right;
}

.primary-header-menu {
  text-align: right;
  margin: 20px 0;
  margin-right: -27px;
}

.primary-header-menu-item {
  font-weight: bold;
  margin: 0 27px;
}

.primary-header-menu-link {
  padding: 10px 0;
}

.feature-header {
  line-height: 2em;
  border-bottom: 6px solid;
  text-transform: uppercase;
  font-weight: bold;
}
.feature-header .icon {
  margin-top: -0.25em;
  margin-right: 0.5em;
}

.feature-read-link {
  text-transform: uppercase;
  font-weight: bold;
}
.feature-read-link .icon {
  margin-top: -0.25em;
  margin-left: 0.5em;
}

.feature-signature {
  font-style: italic;
}

.portfolio-header {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3em;
}
.portfolio-header .icon {
  margin-top: -0.25em;
  margin-right: 0.5em;
}

.blog-header {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5em;
}
.blog-header .icon {
  margin-top: -0.25em;
  margin-right: 0.5em;
}

.connect-header {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5em;
}
.connect-header .icon {
  margin-top: -0.25em;
  margin-right: 0.5em;
}

.connect-menu {
  list-style: none;
  margin-left: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0 -6px;
}

.connect-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 6px;
}

.primary-footer {
  margin-top: 20px;
  padding-top: 20px;
}

.primary-footer-logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

@media (min-width: 960px) {
  .hero-caption {
    width: 50%;
    bottom: 44px;
    left: 25px;
  }

  .l-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
    /* the bottom margin is the negative value of the footer's height */
  }

  .push {
    height: 100px;
  }

  .primary-footer {
    height: 100px;
  }

  .primary-header-menu {
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    *zoom: 1;
  }

  .primary-header-menu-item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }

  .primary-header-menu-link {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
}
@media (max-width: 960px) {
  .row .column,
  .row .columns {
    width: 100%;
  }

  .primary-footer-menu-item {
    display: block;
    padding: 10px 0;
  }

  .spacer {
    display: none;
  }
}
.icon {
  *behavior: url("iepngfix.htc");
}

.portfolio-image img {
  *height: 138px;
  /* ie6 needs this */
}

html {
  background-color: #f4f4f4;
}

.l-wrapper a {
  color: #fe9b00;
}

.primary-header-menu-item {
  text-transform: uppercase;
}

.feature-paragraph {
  color: #5d5d5d;
}

.feature-item {
  color: #5d5d5d;
}

.feature-read-link {
  color: #fe9b00;
}

.primary-footer {
  background-color: #e2e2e2;
  color: #5d5d5d;
}

.primary-footer-menu-item {
  color: #5d5d5d;
}

.hero-caption {
  background-color: #000000;
  color: #999898;
}

.hero-caption-link {
  color: #fe9b00;
}

/*   State
 *
 *   Used for Global (Modifications/State Changes) of a particular module, layout or the site.
 *
 *
-----------------------------------------------------------------------------*/
