%small-font-size {
  font-size: 13px;
}
%medium-font-size {
  font-size: 14px;
}
%large-font-size {
  font-size: 15px;
}
%huge-font-size {
  font-size: 18px;
}

html,body, input, select, textarea { font: normal 12px/1.5em Arial, sans-serif; }
img, object, embed { max-width: 100%; height: auto; }
object, embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }
a { text-decoration: none; }

.primary-hr {
  margin: 20px 0;
}
.hero {
  position: relative;
}
.hero-caption {
  @extend %large-font-size;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.primary-header-logo {
  @include inline-block;
}
.primary-header-email {
  text-align: right;
}
.primary-header-menu {
  margin-right: -27px;
  text-align: right;
  margin: 20px 0;
}
.primary-header-menu-item {
  font-weight: bold;
  margin: 0 27px;
}

.feature-header {
  @extend %huge-font-size;
  line-height: 2em;
  border-bottom: 6px solid;
  text-transform: uppercase;
  font-weight: bold;
  .icon { margin-top: -0.25em; margin-right: 0.5em; }
}
.feature-read-link {
  text-transform: uppercase;
  font-weight: bold;
  .icon { margin-top: -0.25em; margin-left: 0.5em; }
}
.feature-signature {
  font-style: italic;
}
.portfolio-header {
  @extend %huge-font-size;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3em;
  .icon { margin-top: -0.25em; margin-right: 0.5em; }
}

.blog-header {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5em;
  .icon { margin-top: -0.25em; margin-right: 0.5em; }
}

.connect-header {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5em;
  .icon { margin-top: -0.25em; margin-right: 0.5em; }
}
.connect-menu {
  margin: 0 -6px;
}
.connect-item {
  margin: 0 6px;
}

.primary-footer {
  margin-top: 20px;
  padding-top: 20px;
}
.primary-footer-logo {
  @include inline-block;
}