/*   Helpers
 *
 *   Used for Common layout/content fixing
 *
 *
-----------------------------------------------------------------------------*/


.cf {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
	&::before,
	&::after {
	    content:"";
	    display:table;
	}
    &::after {
    	clear:both;
	}
}

.cb {
	clear: both;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.fn {
	float: none;
}

.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
.vat {
	vertical-align: top;
}
.vam {
	vertical-align: middle;
}
.vab {
	vertical-align: bottom;
}