@media (min-width:$rowWidth) {
  .hero-caption {
    width: 50%;
    bottom: 44px;
    left: 25px;
  }
  .l-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
  }
  .push { height: 100px; }
  .primary-footer { height: 100px; }
  .primary-header-menu { @include base-nav; }
  .primary-header-menu-item { @include base-nav-item; }
  .primary-header-menu-link { @include base-nav-link; }
}
@media (max-width:$rowWidth) {
  .row {
    .column,
    .columns { width: 100%; }
  }
  .primary-footer-menu-item { display: block; padding: 10px 0; }
  .spacer { display: none; }
}