html { background-color: #f4f4f4; }
.l-wrapper {
  a { color: #fe9b00; }
}
.primary-header-menu-item { text-transform: uppercase; }

.feature-paragraph { color: #5d5d5d; }
.feature-item { color: #5d5d5d; }
.feature-read-link { color: #fe9b00; }

.primary-footer { background-color: #e2e2e2; color: #5d5d5d; }
.primary-footer-menu-item { color: #5d5d5d; }

.hero-caption { background-color: #000000; color: #999898; }
.hero-caption-link { color: #fe9b00; }