/*   Layout - Constrained
 *
 *   Used for keeping the layout constrained at 960px and optionally letting
		the parent background bleed to the edge of the page.
 *
 *
-----------------------------------------------------------------------------*/


.l-constrained {
	margin: auto;
	width: 320px;
	@include single-transition(width, 0.6s, ease-in-out);
	@media screen and (max-width:640px) {
		.size1of3 {
			width: 100%;
			display: block;
		}
		.size1of4 {
			width: 100%;
			display: block;
		}
		.size3of4 {
			width: 100%;
			display: block;
		}
	}
	@media screen and (min-width:640px) and (max-width:960px) {
		width: 640px;
		.portfolio-image {
			width: 50%;
		}
		.portfolio-image.lastUnit {
			display: inline-block;
			// just in case of IE getting ahold of this selector
			*display: inline;
			*zoom: 1;
		}
	}
	@media screen and (min-width:960px) {
		width: 960px;
	}
}