/*   Layout - Wrapper
 *
 *   Used in conjunction with .push to push the footer
 		down to the bottom of the page.
 *
 *
-----------------------------------------------------------------------------*/


.l-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}