/*   Module - Blog
 *
 *   Used for blog post(s)
 *
 *
-----------------------------------------------------------------------------*/

@mixin blog {
	.blog {
		padding-bottom: 18px;
	}
	.blog-header {
		font-size: 14px;
		padding-bottom: 14px;
		font-weight: bold;
	}
}