/*   Module - Connect
 *
 *   Used for social networks
 *
 *
-----------------------------------------------------------------------------*/

@mixin connect {
	.connect {
		padding-bottom: 18px;
	}
	.connect-header {
		padding-bottom: 14px;
		font-weight: bold;
	}
	.connect-item {
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}
}