/*   Module - Portfolio
 *
 *   Used for a Portfolio Column
 *
 *
-----------------------------------------------------------------------------*/

@mixin portfolio {
	.portfolio-image {
		text-align: center;
	}
	.portfolio-header {
		font-weight: bold;
		padding-bottom: 18px;
	}
}