/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
  @mixin base-nav {
    list-style:none;
    margin-left:0;
    @include clearfix;
  }
  @mixin base-nav-item {
    @include inline-block;
  }
  @mixin base-nav-link {
    @include base-nav-item;
  }
  %base-nav { @include base-nav; }
  %base-nav-item { @include base-nav-item; }
  %base-nav-link { @include base-nav-link; }


/**
 * `.stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
  <ul class="nav stacked">
    <li><a href=#>Home</a></li>
    <li><a href=#>About</a></li>
    <li><a href=#>Portfolio</a></li>
    <li><a href=#>Contact</a></li>
  </ul>
 *
 */
    @mixin base-stacked-nav {
      @include base-nav;
    }
    @mixin base-stacked-nav-item {
      @include base-nav-item;
      display: list-item;
    }
    @mixin base-stacked-nav-link {
      display:block;
    }
    %base-stacked-nav {
      @include base-stacked-nav;
    }
    %base-stacked-nav-item {
      @include base-stacked-nav-item;
    }
    %base-stacked-nav-link {
      @include base-stacked-nav-link;
    }

/**
 * `.banner-nav` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav banner-nav">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
    @mixin base-banner-nav {
      @include base-nav;
      text-align: center;
    }
    %base-banner-nav {
      @include base-banner-nav;
    }